@import "tailwindcss";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full Height */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc, #ede9fe);
  color: #111827;
}

/* Smooth Buttons */
button {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Input Focus */
input:focus {
  outline: none;
}

/* Better Scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}